/* variables */
:root {
  /* color*/
  --clr-primary: #293241;
  --clr-salmon: #df4119;
  --clr-body-bg: #98C1D9;
  --clr-card-bg: #E0FBFC;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /* border radius */
  --radius: 0.5rem;

  /* box shadow */
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* reset all margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--clr-body-bg);
  padding-bottom: 1.5em;
}

/* additional css */
.padding-05 {
  padding: 0.5 em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.inline {
  display: inline;
}

.strong {
  font-weight: bold;
  font-size: larger;
}

.title {
  font-family: 'poppins';
  font-weight: 600;
  text-align: center;
  padding: 1.5rem;
}


/* nav css */
nav {
  background-color: var(--clr-primary);
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: var(--clr-gray200);
  transition: all 100ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-gray100);
}

/* end nav css */


/* card css */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: var(--clr-card-bg);
  width: 18rem;
  margin: 0.5em;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.1);
}

.card-img {
  width: 100%;
  height: 300px;
  border-radius: var(--radius) var(--radius) 0 0;
  object-fit: cover;
}

.card-title {
  height: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.flex-end {
  justify-content: end;
}

.btn {
  font-size: 1em;
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-gray100);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.badge {
  position: relative;
  top: -2.5em;
  padding: 5px 10px;
  border-radius: 100%;
  background-color: var(--clr-salmon);
  height: 30px;
  width: 20px;
  color: var(--clr-gray100);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

/* end card css */



/* modal css */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1.5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #ffebeb;
  margin: auto;
  padding: 0;
  width: 65%;
  box-shadow: var(--shadow);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* add animation */
@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

/* close button */
.close {
  color: var(--clr-gray200);
  float: right;
  font-size: 2.5em;
  font-weight: bold;
}

.close:hover {
  color: var(--clr-gray100);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #35537e;
  color: var(--clr-gray100);
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5em;
}

.modal-img {
  width: 380px;
  height: 430px;
  object-fit: cover;
  margin-bottom: 1em;
  box-shadow: var(--shadow);
}

.modal-desc {
  width: 400px;
}

/* end modal css */